<!DOCTYPE html>
@{
    
    Layout = "~/Views/Shared/_FrontpageLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/css/loader.css" rel="stylesheet" />
</head>
<body onload="myFunction()" style="margin:0;">

    <div id="loader"></div>

    <br />

    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div>
            <img alt="AG logo" src="~/img/AG_logo.png" width="100" height="100" />
        </div>
         
        <br />
        <h1 style="color:darkblue">You are welcome to the startup page</h1>
        
        <p>
            Click on the <strong>Get Started</strong> button below to start using the application.
        </p>

        <br />
        <div class="row">
            <div class="text-center align-self-center mx-auto">
                @*<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary"><i class="fa fa-users"> Start here</i></a>*@

                <a asp-controller="Home" asp-action="Index">
                    <div class="card" style="height:150px; width:400px;">
                        <div class="card-body bg-primary">
                            <div class="form-group">
                                <div class="text-center ">
                                    <p class="text-light"><i class="fa  fa-users fa-3x "></i></p>
                                </div>
                                <div class="text-center">
                                    <label class="text-light">Get Started</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>


    <script>
        var myVar;

        function myFunction() {
            myVar = setTimeout(showPage, 5000);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }
    </script>

</body>
</html>
