@model ServiceAndSeatManagement.Models.ViewModel.MembersViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header bg-transparent">
        <h4><i class="fa fa-user-circle"> Add members</i></h4>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-10">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label  class="control-label">Name <i class="text-danger">*</i></label>
                            <input asp-for="FullName" class="form-control" required />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label  class="control-label">Age <i class="text-danger">*</i></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label  class="control-label">Gender <i class="text-danger">*</i></label>
                            <select asp-for="GenderId" asp-items="Model?.GenderList" class="form-control">
                                <option>Select gender </option>
                            </select>
                            <span asp-validation-for="GenderId" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label  class="control-label">Residence <i class="text-danger">*</i></label>
                            <input asp-for="Residence" class="form-control" />
                            <span asp-validation-for="Residence" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="DigitalAddress" class="control-label"></label>
                            <input asp-for="DigitalAddress" class="form-control" />
                            <span asp-validation-for="DigitalAddress" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label  class="control-label">Department <i class="text-danger">*</i></label>
                            <select asp-for="DepartmentId" asp-items="Model?.DepartmentList" class=" form-control">
                                <option>Select department</option>
                            </select>
                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6 mb-3">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 ">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
<br />

<div>
    <a asp-action="Index"><i class="fa fa-users"> View to Members</i></a> &nbsp; |  &nbsp;
    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"> Back to Main menu</i></a>
</div>
<br />
<br />
<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
