
@{
    ViewData["Title"] = "ErrorMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger"><i class="fa fa-fire"> Error problems</i></h1>
<br />
<h4>If you see this page then,it means that one of the following errors has occured</h4>
<ul>
    <li>It might be you entered an alphabets instead of a numbers </li>
    <li>It might be you entered symbols,punctuation marks except dot or full stop</li>
    <li>It might be you submitted blank entry or Zero data</li>
</ul>
<br />

<h2 >Solution</h2>
<ul>
    <li>Navigate backward and enter the correct thing </li>
    
</ul>



