@model ServiceAndSeatManagement.Models.ViewModel.TemperatureViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Member's temperature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" value="@ViewBag.MemberId" readonly />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekId" class="control-label"></label>
                <select asp-for="WeekId" class="form-control" asp-items="Model?.WeekList" required>
                   <option hidden disabled selected>Select week number</option>

                </select>
              
                <span asp-validation-for="WeekId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Current service attending</label>
                <select asp-for="ServiceCategoryId" class="form-control" asp-items="Model?.ServiceCategoryList" required>
                    <option hidden disabled selected>Select service category</option>

                </select>
                <span asp-validation-for="ServiceCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempuratureNumber" class="control-label"></label>
                <input asp-for="TempuratureNumber" class="form-control" required />
                <span asp-validation-for="TempuratureNumber" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="VerifyId" class="control-label"></label>
                <select asp-for="VerifyId" class="form-control" asp-items="Model?.VerifyList" required>
                    <option hidden disabled selected >Select verification</option>

                </select>
                <span asp-validation-for="VerifyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
