@model ServiceAndSeatManagement.Models.ViewModel.TemperatureViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Member's temperature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" value="@ViewBag.MemberId" readonly />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TempuratureNumber" class="control-label"></label>
                <input asp-for="TempuratureNumber" class="form-control" required />
                <span asp-validation-for="TempuratureNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VerifyId" class="control-label"></label>
                <select asp-for="VerifyId" class="form-control" asp-items="Model?.VerifyList" required>
                    <option hidden disabled selected>Select verification</option>

                </select>
                <span asp-validation-for="VerifyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa fa-users"> View to recorded temperature</i></a> &nbsp; |  &nbsp;
    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"> Back to Main menu</i></a>
</div>
<br />
<br />
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
