@model ServiceAndSeatManagement.Models.ViewModel.TemperatureViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TemperatureViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TemperatureId" />
            <div class="form-group" hidden>
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekId" class="control-label"></label>
                <input asp-for="WeekId" class="form-control" readonly />
                <span asp-validation-for="WeekId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ServiceCategoryId" class="control-label"></label>
                <input asp-for="ServiceCategoryId" class="form-control" />
                <span asp-validation-for="ServiceCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempuratureNumber" class="control-label"></label>
                <input asp-for="TempuratureNumber" class="form-control" />
                <span asp-validation-for="TempuratureNumber" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CurrentDate" class="control-label"></label>
                <input asp-for="CurrentDate" class="form-control"  />
                <span asp-validation-for="CurrentDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="VerifyId" class="control-label"></label>
                <input asp-for="VerifyId" class="form-control" />
                <span asp-validation-for="VerifyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
