@model ServiceAndSeatManagement.Models.ViewModel.TemperatureViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";



}

<h4>Today's temperature record list</h4>
<br />


<div class="row alert alert-info">
    <div class="col-10 text-center">
        <a style="margin:auto" asp-controller="Home" asp-action="Index">
            <h2><i class="fa fa-home fa-2x text-success"></i> </h2>
        </a>
    </div>
</div>

<table id="emptable"  class="table table-hover table-striped table-bordered dt-responsive nowrap" style="width:100%">
    <thead class="bg-primary text-white">
        <tr>
            <th>
               S/No
            </th>
            <th>
                Name of Member
            </th>

            <th>
                Temperature
            </th>

            <th>
                Verification status
            </th>
            <th></th>
        </tr>
    </thead>
    
</table>
<br />
<br />
<br />

@section Scripts{

    <script src="~/js/Temperature.js"></script>


}
