USE [master]
GO
/****** Object:  Database [ServiceDB]    Script Date: 9/11/2020 10:42:23 PM ******/
CREATE DATABASE [ServiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServiceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ServiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ServiceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ServiceDB_log_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServiceDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 9/11/2020 10:42:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY NONCLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 9/11/2020 10:42:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderId] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [char](6) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY NONCLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 9/11/2020 10:42:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Age] [char](3) NOT NULL,
	[GenderId] [int] NOT NULL,
	[Residence] [nvarchar](100) NOT NULL,
	[DigitalAddress] [nvarchar](50) NULL,
	[PhoneNumber] [char](15) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SeatNumber] [char](5) NULL,
	[CurrentDate] [date] NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY NONCLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temperature]    Script Date: 9/11/2020 10:42:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temperature](
	[TemperatureId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[TempuratureNumber] [decimal](3, 1) NOT NULL,
	[CurrentDate] [date] NOT NULL,
	[VerifyId] [int] NOT NULL,
 CONSTRAINT [PK_Temperature] PRIMARY KEY NONCLUSTERED 
(
	[TemperatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerifyMember]    Script Date: 9/11/2020 10:42:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyMember](
	[VerifyId] [int] IDENTITY(1,1) NOT NULL,
	[VerifyName] [char](3) NULL,
 CONSTRAINT [PK_VerifyMember] PRIMARY KEY NONCLUSTERED 
(
	[VerifyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Department_Members] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Department_Members]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Gender_Members] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([GenderId])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Gender_Members]
GO
ALTER TABLE [dbo].[Temperature]  WITH CHECK ADD  CONSTRAINT [FK_Members_Temperature] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[Temperature] CHECK CONSTRAINT [FK_Members_Temperature]
GO
ALTER TABLE [dbo].[Temperature]  WITH CHECK ADD  CONSTRAINT [FK_VerifyMember_Temperature] FOREIGN KEY([VerifyId])
REFERENCES [dbo].[VerifyMember] ([VerifyId])
GO
ALTER TABLE [dbo].[Temperature] CHECK CONSTRAINT [FK_VerifyMember_Temperature]
GO
ALTER TABLE [dbo].[Temperature]  WITH CHECK ADD  CONSTRAINT [ContraintTemperatureNumber] CHECK  (([TempuratureNumber]>(1)))
GO
ALTER TABLE [dbo].[Temperature] CHECK CONSTRAINT [ContraintTemperatureNumber]
GO
USE [master]
GO
