@{
    ViewData["Title"] = "Quick Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Row begins-->
    <div class="row mb-1">
        <div class="col-md-3 col-sm-6 py-2">
            <div class="card bg-success text-white h-auto">
                <div class="card-body bg-success">
                    <div class="rotate">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <h6 class="text-uppercase">Members Registered</h6>
                    <h1 class="display-4">@ViewBag.RegMembersCount</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 py-2">
            <div class="card text-white bg-danger h-auto">
                <div class="card-body bg-danger">
                    <div class="rotate">
                        <i class="fa fa-list fa-3x"></i>
                    </div>
                    <h6 class="text-uppercase">Departments</h6>
                    <h1 class="display-4">@ViewBag.departmentCount</h1>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-7 py-2">
            <div class="card text-white bg-danger h-auto">
                <div class="card-body bg-info">
                    <div class="rotate">
                        <i class="fa fa-twitter fa-3x"></i>
                    </div>
                    <h6 class="text-uppercase">No. of temperature checked</h6>
                    <h1 class="display-4">@ViewBag.temperatureCount</h1>
                </div>
            </div>
        </div>


    </div>

<!-- end of row--->

<div class="form">

    <div class="card">
        <div class="card-header bg-transparent">
            <h5 class="text-black-50 text-uppercase">Quick Start</h5>
        </div>
        <div class="card-body">
            <div class="row" style="margin:auto;">

                <div class="col-md-3 py-2">
                    <a asp-controller="Members" asp-action="Create">
                        <div class="card" style="height:150px;">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="text-center ">
                                        <p><i class="fa  fa-user-plus fa-3x"></i></p>
                                    </div>
                                    <div class="text-center">
                                        <label>Add new member</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-md-3 py-2" style="margin:auto">
                    <a asp-controller="Members" asp-action="Index">
                        <div class="card" style="height:150px;">
                            <div class="card-body">
                                <div class="form-group">

                                    <div class="text-center">
                                        <p><i class="fa  fa-thermometer-empty fa-3x"></i></p>
                                    </div>
                                    <div class="text-center">
                                        <label>Check temperature</label>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </a>

                </div>

                <div class="col-md-3 py-2">
                    <a asp-controller="Members" asp-action="MembersLists">
                        <div class="card" style="height:150px;">
                            <div class="card-body">
                                <div class="form-group">

                                    <div class="text-center">
                                        <p><i class="fa  fa-address-book-o fa-3x"></i></p>
                                    </div>
                                    <div class="text-center">
                                        <label>view member information</label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </a>
                </div>


            </div>
            <div class="row" style="margin:10px auto;">
                <div class="col-md-3 py-2">
                    <a asp-controller="membertemperature" asp-action="Index">
                        <div class="card" style="height:150px;">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="text-center">
                                        <p><i class="fa  fa-thermometer-three-quarters fa-3x"></i></p>
                                    </div>
                                    <div class="text-center">
                                        <label>View recorded temperature</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 py-2" style="margin:auto">
                    <a  asp-controller="DailytemperatureRecords" asp-action="Index">
                        <div class="card" style="height:150px;">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="text-center">
                                        <p class="text-primary"><i class="fa  fa-eye fa-3x"></i></p>
                                    </div>
                                    <div class="text-center text-primary">
                                        <label>View reports</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 py-2">
                    <a asp-controller="Home" asp-action="Settings">
                        <div class="card" style="height:150px;">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="text-center">
                                        <p><i class="fa  fa-gear fa-3x"></i></p>
                                    </div>
                                    <div class="text-center">
                                        <label>Settings</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>

</div>
<br />
<br />
<br />

